language: ruby
rvm:
  - 2.3.0
  - 2.0.0
  - 1.9.3

before_install:
 - gem install ruby-debug-ide
 - nvm install v5.10.0
 - nvm use v5.10.0
before_script:
  - npm install -g typescript
  - npm install
  - tsc -p ./src
script: npm test
